<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <UlitmateStorytellerBasilicusPatch>Ultimate Storyteller - Basilicus Patch</UlitmateStorytellerBasilicusPatch>
    <USBP.PsycasterSpawnBaseChance>Ultimate Storyteller Psycaster spawn chance</USBP.PsycasterSpawnBaseChance>
    <USBP.PsycasterSpawnAdditional>Ultimate Storyteller Psycaster strength factor</USBP.PsycasterSpawnAdditional>
</LanguageData>